.container{
    text-align: center;
    padding: 10vw;
}   
h4{
    margin-top: 10vh;
    margin-bottom: 5px;
}
.qrCodeValue{
    color:gray;
    font-size: 20px;
    font-weight: bold; 
}