.container{
text-align: center;
padding-top:10vh;
}
form{
    height: 70vh;
    padding: 2vh 4vh;
}

.form-input{
   margin-top: 4vh; 
}
.text-danger{
    color: red;
    padding-left: 10px;
    font-size: 12px;
    text-align: left;
}

